/*

Chris Hume
Stylesheet for Recommenu Web Application

- application used to input restaurant menus

2/8/14

*/

html{margin:0 auto;width:1200px;font-size:1.7em;background-image:url('light_noise_diagonal.png');}
body{margin: 0 auto;margin-top:2em;font-family:Myriad Pro;}
form{padding:;border:none;}
#sectionNew{background-color:white;}
fieldset{padding:0em;}
#section_1{background-color:;font-family:Myriad Pro;}
label.field{text-align:center;width:200px;font-weight:bold;font-size:em;margin-top:1em;}
input{display:block;width:70%;padding:.4em;margin:;width:375px;
    display:block;
    border: 1px solid #999;
    height: 35px;
    margin-bottom:2em;
    /*
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    */
}
#sendButton2{margin:0 auto;margin-top:3em;}
hr{margin:2em 0 2em;}
#sectionNew{border:;padding:1em;}

.main_section{float:left;width:600px;}
.side_section{background-color:#2CBDB9;padding:1em;width:300px;float:left;}

h1, h2, h3, h4 ,h5, h6{line-height: 1em;font-size:1em;font-family:Calibri;font-weight:300;}
h1{font-size:1.4em;}
h2{font-size:.9em;}
h3{font-size:.9em;}
h4{font-size:.7em;}
h5{font-size:.6em;}
h6{font-size:.5em;}